@font-face {
  font-family: "ArkPixel";
  src: url("/fonts/ark-pixel-12px-proportional-zh_cn.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "ArkPixel", -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
}