<!DOCTYPE html>
<html lang="zh">
<head>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
 <title>{{ if .IsHome }}{{ site.Title }} | {{ site.Params.description }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <a href="/">{{ site.Title }}</a>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
<footer>
  <div class="social-links">
    <a href="https://xhslink.cn/o/13uKdbWCTz4" target="_blank" rel="noopener">
      <img src="/icons/xiaohongshu.svg" alt="小红书">
    </a>
    <a href="https://b23.tv/uie0R9b" target="_blank" rel="noopener">
      <img src="/icons/bilibili.svg" alt="Bilibili">
    </a>
  </div>
  <p>© {{ now.Year }} {{ site.Title }}</p>
</footer>
<script src="/js/main.js"></script>
</body>
</html>